:root {
    --uiElementColor: #dedede;
    --uiElementContrast: #676767;
    --buttonColor: #6973AC;
    --buttonActiveColor: #4d547e;
    --warnButtonColor: #B11818;
    --warnButtonActiveColor: #8C1313;
    --sideWidth: 25%;
    --widthbarHeight: 64px;
}

html {
    color: white;
    font-family: sans-serif;
    font-size: 2.4vh;
}

.sidebar {
    height: 100%;
    width: var(--sideWidth);
    position: fixed;
    z-index: 1000;
    background-color: #111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollContainerMedium{
    align-self: flex-start; 
    flex: 1 1 auto;
    margin: auto;
    max-height: 80%;
    overflow-y: scroll;
}

.scrollContainerSmall{
    align-self: flex-start; 
    flex: 1 1 auto;
    margin: auto;
    max-height: 40%;
    width: 60%;
    overflow-y: scroll;
}

.sidebarTab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    overflow: hidden;
}

.widthbar {
    height: var(--widthbarHeight);
    width: calc(100% - var(--sideWidth));
    position: fixed;
    z-index: 1000;
    background-color: #111;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.threeDContainer {
    height: calc(100% - var(--widthbarHeight));
    width: 75%;
    position: fixed;
    z-index: 1;
    left: 25%;
    overflow-x: hidden;
    cursor: crosshair;
}

.warnButton {
    background-color: var(--warnButtonColor);
}

.warnButton:active {
    background-color: var(--warnButtonActiveColor);
}

.paletteButton {
    border: 2px solid transparent;
    background: none; 
}

.paletteButton:hover {
    border: 2px solid var(--uiElementColor);
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.paletteButton.active {
    border: 2px solid var(--buttonColor);
    border-radius: 5px;
    background: none;
}

.eyeButton {
    border: 2px solid transparent;
    padding: 4px !important;
    background: none;
}

.eyeButton:hover {
    border: 2px solid var(--uiElementColor);
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.imageInButton {
    width: 100px;
}

.colorSquare {
    height: 25px;
    width: 25px;
    outline: 2px solid white;
}

.waitBox {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    z-index: 1001;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 6.66vh;
    top: 0;
    left: 0;
}

.rowContainer {
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.surveyTable {
    box-sizing: border-box;
    max-width: 100%;
    align-items: center;
}

.surveyTableRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

p {
    font-size: 2.4vh;
    color: white;
}

label {
    font-size: 2.4vh;
    color: white;
    margin: 8px 8px;
}

button {
    background-color: var(--buttonColor);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 4px 8px;
    cursor: pointer;
    float: left;
    border-radius: 5px;
    font-size: 2.4vh;
}

button:hover {
    background-color: var(--uiElementContrast);
}

button:active {
    background-color: var(--buttonActiveColor);
}

button:disabled {
    background-color: var(--uiElementContrast);
    cursor: default;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: var(--uiElementColor);
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
input[type="range"]:hover {
    opacity: 1;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--buttonColor);
    cursor: pointer;
}
  
input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--buttonColor);
    cursor: pointer;
}

input[type="radio"] {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--uiElementContrast);
    border-radius: 50%;
    appearance: none;
    background-color: var(--uiElementColor);
}

input[type="radio"]:not(:disabled):checked {
    background-color: var(--buttonColor);
    background-clip: content-box;
    padding: 2px;
    background-image: radial-gradient(
        circle,
        var(--buttonColor) 0%,
        var(--buttonColor) 50%,
        transparent 60%,
        transparent 100%
    )   
}

input[type="checkbox"] {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--uiElementContrast);
    appearance: none;
    background-color: var(--uiElementColor);
}

input[type="checkbox"]:not(:disabled):checked {
    background-color: var(--buttonColor);
    background-clip: content-box;
    padding: 2px;
    background-image: linear-gradient(
        to right,
        var(--buttonColor) 0%,
        var(--buttonColor) 50%,
    )   
}

select {
    height: 32px;
    font-size: 1.5vh;
    width:   75%;
    margin-top: 8px;
    margin-bottom: 8px;
}