node_modules/
data/
3dmodels/
frontend/dist/
__pycache__/
.vite/
analysis/antiquated/*
analysis/test images/*
analysis/BCI*
analysis/private_utils/*
analysis/mesh_utils/Pro1/*
analysis/mesh_utils/S113/*
analysis/mesh_utils/CRS09/*
analysis/OLS/*
analysis/External/*
analysis/example_data/*